:root {
  --mainColor: #222226;
  --primaryColor: #e299ff;
  --darkerPrimaryColor: #d66eff;
  --clickColor: #ab58cc;
  --buttonHoverColor: #e9b5fd;
  --buttonActiveColor: #7e7e7e;
  --buttonActiveTextColor: #e6e6e6;
}
